@import "src/less/mat-multiple-select-fix.less";

:host {
  .panel-content {
    color: var(--base-base);

    .inline-edit-button {
      padding-left: 1rem;
    }

    .st-name-input {
      width: 60%;
    }

    .full-width {
      width: 100%;
    }

    .half-width {
      width: 50%;
    }
  }
}

.mat-expansion-panel-header-description {
  flex-grow: .3;
}




