<div class="controlContainer legendContainerBaselayer">
  <div
    class="menuButton"
    [matMenuTriggerFor]="menu"
    (click)="toggleBaseLayerSwitcher()"
  >
    <fa-stack>
      <fa-icon class="legendIcon" icon="earth-africa"></fa-icon>
      <fa-icon class="legendIcon overlay" icon="caret-down"></fa-icon>
    </fa-stack>
  </div>
</div>

<mat-menu #menu="matMenu" backdropClass="map-menu">
  <button
    mat-menu-item
    [ngStyle]="{'background-color' : bl.label == selectedBaselayer ? 'rgba(10,10,10,.1)' : 'rgba(0,0,0,0)' }"
    *ngFor="let bl of baselayerMenuEntries"
    (click)="handleSelection(bl.value, bl.label)"
  >
    {{bl.label}}
  </button>
</mat-menu>
