:host {
  .panel-content {
    padding: 1rem 1rem 1rem 2rem;
    color: var(--base-dark);
  }

  .list-container {
    height: 40vh;
    margin: -1.15em;
  }

  fa-icon {
    color: var(--base-base);
  }
}
