*.pyc
.idea/
.pytest_cache/
*.swp
notes*.txt
/.idea

*.code-workspace*
.vscode/

.env
config/secrets.dev.local.env

/.vscode/
/nodejs-server/node_modules
/nodejs-server/dist
/nodejs-server/src/__snapshots__
/nodejs-server/src/views/queues-login/keycloak.json

config/secrets.dev.local.env
config/*secret*.env
# generated secrets
scripts/secrets/KEY_PROVIDER_HMAC_GENERATED_SECRET.txt
scripts/secrets/KEY_PROVIDER_RSA_GENERATED_CERTIFICATE.cer
scripts/secrets/KEY_PROVIDER_RSA_GENERATED_CERTIFICATE.txt
scripts/secrets/KEY_PROVIDER_RSA_GENERATED_PRIVATE_KEY.pem
scripts/secrets/KEY_PROVIDER_RSA_GENERATED_PRIVATE_KEY.txt

redis-volume/
importer/data/export/
importer/data/frontend-logs/
importer/data/**/*
importer/data/*.mbtiles
/cypress/cypress/videos
/cypress/node_modules
/cypress/*.env
sphinx/UserGuide/_build