:host {
  text-align: center;

  &.align-left {
    text-align: left;
  }

  &.special-attention h4 span {
    font-size: 1rem;
  }
}

.detail {
  color: var(--base-base);
}

h4.content {
  margin-top: 0.5rem !important;
  fa-icon {
    margin-right: 0.5rem;
  }
}

.unclaimed .value {
  display: flex;
  flex-direction: column;
}
