//Using id since we want these to override the wizard defaults for .gmt_wizard-overlay in wizard-popup.less
#wizard-control-div {
    //Just to not have the buttons / text flush against the dialog
    padding: 5px;
    //Enough to show the cancel button
    padding-top: 1.7em;
    overflow: hidden;
}

.cancel {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    aspect-ratio: 1 / 1;
    width: 1em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
  

// gmt-wizard-location-control {
//   height: 200px;
//   display: block;
// }