:host {
  .cancel {
    position: absolute;
    top: .3em;
    right: .2em;
    font-size: 1.6em;
    aspect-ratio: 1 / 1;
    width: 1em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }

  .install-dialog-body {
    max-width: 95%;
  }
}
