@import '../map-control.component.less';
@import "src/shared";


#location-selector {

  width: 30px;
  height: var(--height)px;
  position: absolute;
  top: 50%;
  left: 50%;
  //We want the bottom of the location icon to be in the center, that's why -100%
  transform: translate(-50%, -100%);

  svg {
    height: 100%;
  }
}




