@import "../../../../catchment-card/catchment/catchment.component.less";

.popInfo {
  width: 70px;
  height: 100%;
  font-weight: 400;
  font-size: 0.8em;
}

::ng-deep.mat-expansion-panel-content {
  .mat-expansion-panel-body {
    padding: 1em;

    .not-participating {
      color: var(--base-dark);
    }
  }
}

.boundary {
  font-size: 1.1em;
}
