@import "src/shared";

gmt-microplan-boundary-map {
  border-left: 1px solid var(--base-medium);
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

gmt-new {
  position: absolute;
  bottom: 2em;
  left: 4em;

  z-index: @zi-root-header;
}
