:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;

  color: var(--base-dark);
  background: var(--base-pure-white);
  padding: .5em 1em;
  box-sizing: border-box;
  border-bottom: solid 1px var(--base-medium);
}

span {
  flex: 1;
}

fa-icon {
  color: var(--accent-base);
  font-size: 1em;
  cursor: pointer;
}
