.default-theme {
  --accent-dark: #bd4500;
  --accent-medium: #e56100;
  --accent-base: #fd8f00;
  --accent-light: #ffe2b0;
  --accent-pale: #fff5e5;
  --accent-settlements: #f5d500;

  @base-black: #0D364A;
  @base-dark: #185267;
  --base-black: @base-black;
  --base-dark: @base-dark;
  --base-base: #408da9;
  --base-medium: #86b5c7;
  --base-light: #d2e4ea;
  --base-pale: #e8eeee;
  --base-white: #f6f9f9;
  --base-pure-white: #ffffff;
  --base-90: fade(@base-dark, 90%);
  --base-80: fade(@base-dark, 80%);
  --base-60: fade(@base-dark, 60%);
  --base-black-90: fade(@base-black, 90%);
  --base-black-80: fade(@base-black, 80%);
  --base-black-60: fade(@base-black, 60%);

  --catchment-fixed: #2081d6;
  --catchment-outreach: #80c610;
  --catchment-mobile: #2aae9f;
  --catchment-unclaimed: #865da8;

  --settlements-special: #c44c1c;
  --settlements-base: #f5bc00;
  --population-density: #6a808a;

  --gray: #808080;
}
