@import './map-control.component.less';
@import "src/shared";

.legendContainer {
  position: absolute;
  top: 8vh;
  left: 0.5em;
  display: flex;
  flex-direction: column;
  z-index: 100;
  border: 1px solid #85AFBE;
  width: 2rem;
  height: 2rem;

  .menuButton {
    z-index: 100;
    background-color: white;
    cursor: pointer;
    border-top-left-radius: 0.5vh;
    border-bottom-left-radius: 0.5vh;
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding: 0.5vh;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);

    .legendIcon {
      width: 1.5em;
      height: 1.5em;
      margin: 1rem;
    }

    .arrow {
      margin-left: 0.5vh;
      width: 1.5vh;
      filter: invert(0.8);
    }
  }

  &.open .menuButton {
    //border-bottom-left-radius: 0;
    //border-bottom-right-radius: 0;
    //box-shadow: none;
  }

  &.open .arrow {
    transform: rotate(0deg);
  }

  &:not(.open) .arrow {
    transform: rotate(180deg);
  }

  &.open .content {
    display: flex;
  }

  .content {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    display: none;
    background-color: white;
    flex-direction: column;
    padding: 1.5vh;
    border-radius: 1.5vh 0 1.5vh 1.5vh;
    font-size: 1.5vh;

    .part {
      margin-bottom: 1vh;

      .title {
        font-weight: bold;
        margin-bottom: 0.5vh;
      }

      .items {
        .item {
          margin-bottom: 0.5vh;
          display: flex;
          align-items: center;

          .legend {
            .legend() ;
            margin-right: 0.5vh;
          }

        }

      }
    }

    .bottom {
      border-top: @color-d2w-3 0.1rem solid;
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 1vh;

      .legend {
        background-color: @color-second-dark;
        border-radius: 0.2vh;
        width: 1vh;
        height: 1vh;
        margin-right: 0.5vh;
        margin-left: 0.5vh;
      }
    }
  }
}

:host ::ng-deep .p-panelmenu {
  .p-panelmenu-header {
    & > a {
      border: 0;
      padding-left: 0.2rem;

      &:focus {
        box-shadow: unset;
      }
    }
  }

  .p-panelmenu-content {
    border: 0;
    padding-left: 1rem;

    .p-menuitem-link:focus {
      box-shadow: unset;
    }
  }
}
