:host {
  display: flex;
  position: relative;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

gmt-microplan-list {
  flex: 1 1 auto;
  overflow: hidden;
}

gmt-new {
  position: absolute;
  right: 4em;
  bottom: 2em;
}

h1 {
  font-weight: 500;
  font-size: 1.4rem;
  margin: 1rem;
  color: var();
}
