.cancel {
	position: absolute;
	top: .2em;
	right: .2em;
	font-size: 1.6em;
	aspect-ratio: 1 / 1;
	width: 1em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

pre {
  white-space: break-spaces;
  text-align: justify;
}