:host {
  .panel-content {
      color: var(--base-base);
     .inline-edit-button {
        padding-left: 1rem;
      }
  }
}

.mat-expansion-panel-header-description {
  flex-grow: .3;
}

:host ::ng-deep mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header.mat-expansion-panel-header .mat-expansion-panel-header-title {
  color: var(--base-base);
  font-size: .9em;
}

mat-expansion-panel.mat-expansion-panel mat-expansion-panel-header.mat-expansion-panel-header .mat-expansion-panel-header-title {
	&.has-problematic {
		color: var(--settlements-special);

		fa-icon {
			color: inherit;
		}
	}
}
