:host {
  .panel-content {
    padding: 1rem 1rem 1rem 2rem;
    color: var(--base-dark);

    .inline-edit-button {
      padding-left: 1rem;
    }

    .st-name-input {
      width: 60%;
    }
  }
}
