.content {
  padding: 10px;
}

p {
  font-size: large;
}

//DRY with the application?
button {
  margin: auto .5em;

  color: var(--accent-medium);

  &.main {
    border: solid 1px var(--accent-light);
    background: var(--accent-pale);
  }

}